html, body{
	background: #f6f8fa;
	color: white;
	font-family: 'Solway', serif;	
}
h1{
	margin: auto;
	margin-left: 15%;
}
button {
	height: 100%;
	background: black;
	border: none;
	border-radius: 12px;
	font-size: 15px;
	padding: 10px;
	margin-right: 1%;
	color: white;
	cursor: pointer;
	font-family: 'Solway', serif;	
}
button:hover{
	background: white;
	color: black;
	transition: 0.4s;
}


#gen-new{
	margin-right: 3%;
    background-color: rgb(39, 110, 241);
}

#start {
    background-color: rgb(39, 110, 241);
}

.moveUp {
	background: white;
    width: 100%;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    position: relative;
    margin: auto;
    margin: 10px;
    padding: 3px;
    text-align: center;
    font-family: 'Solway', serif;
}

#title {
    color: black;
    font-size: 24px;
}

#navbarDropdown {
    color: black;
}

.moveUp div {
    border: 1px solid black;
    position: relative;
}
.moveUp a {
	display: block;
    height: 25px;
    font-size: 17px;
}
#element{
	width: 100%;
	display: flex;
	flex-direction: column;
	margin: auto;
	margin-top: 5%;
}
.buttons{
	margin: auto;
}

.navbar-toggler-icon {
    color: black;
}